.gradle/
build/
local.properties
*.iml
.idea/
.DS_Store
app/src/main/assets/pdockerd/
app/src/main/jniLibs/*/libcow.so
app/src/main/jniLibs/*/libpdockerpty.so
app/src/main/jniLibs/*/libcrane.so
app/src/main/jniLibs/*/libproot.so
app/src/main/assets/xterm/xterm.js
app/src/main/assets/xterm/xterm.css
app/src/main/assets/xterm/xterm-addon-fit.js
